################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio settings
.vs/

# IntelliJ settings.
.idea/

# These can appear under .csproj file locations
obj/

Target/
Intermediate/
Debug/
bin/
TestResults/